/* common css start here  */
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    outline: 0;
}
a , a:hover{
 text-decoration: none;
}
h1,h2,h3,h4,h5,h6{
   padding: 0;
   margin: 0;
   line-height: 0.8;
}
li{
    list-style-type: none;
   
}
.mr{
    margin-right: 0 !important;
}
.pr{
    padding-right: 0 !important;
}
html,body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
/* common css end here  */

/* menu part start  */

.navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}
.navbar-nav {
	
	--bs-nav-link-padding-y: 0; 
	
}
.navbar-brand{
    padding-top: 40px;
    padding-right: 200px;
   
}
.nav-item{
    padding-top: 50px;
    position: relative;
}
.nav-item img{
   position: absolute;
   bottom: -32%;
   left:9%;
   opacity: 0;
   right: 50%;
  
}
.nav-item .nav-link{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: #000;
    cursor: pointer;
    margin-right: 30px;
    transition: 0.4s;
}
.nav-link:hover{
    color: #d50a51;
}
.nav-item:hover img{
    opacity: 1;
    visibility: visible;
}
.btn {
    background-color: #d50a51;
    border: 1px solid #d50a51;
    border-radius:50px ;
    height: 50px;
    width: 200px;
    margin-top: 30px;
    color: #fff;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 600;
    font-size: 18px;
    padding-top: 10px;
    transition: 0.4s;
}
.btn:hover{
    border: 2px solid #d50a51;
    color: #d50a51;
}
/* end here  */
#bannerpart{
    background-color: #fef6f9;
   
}
.banner img{
    padding-top: 130px;
   
    
}
.banner_txt h1{
    color: #dd3872;
    font-family: 'Great Vibes', cursive;
    font-size: 84px;
    font-weight: 400;
}

.banner_txt .hp{
 color: #8a5e3b;
 padding-top: 225px;
 font-family: 'Josefin Sans', sans-serif;
 font-weight: 600;
 font-size: 61px;
}
.banner_txt p{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding-top: 30px;
    color: #737373;
    cursor: pointer;
}
.banner_txt button{
    height: 45px;
    width: 215px;
    border-radius: 30px;
    border: 2px solid #d50a51;
    background-color: #fffbfc;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 600;
    font-size: 18px;
    color: #d50a51;
    margin-top: 60px;
    margin-bottom: 150px;
    transition: 0.4s;
}
.banner_txt button:hover{
    background-color: #d50a51;
    color:#fffbfc ;
}
/* end here  */
#History{
    padding-top: 80px;
}

.history_txt{
    padding-top: 130px;
    position: relative;
}
.history_txt h3{
    padding-left: 80px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #666666;
    
}
.history_txt img{
    position: absolute;
    top: 21%;
    left: 5%;
}
.history_txt .pink{
    color:#d50a51;
    padding-bottom: 40px;
    font-size: 24px;
}
.history_txt p{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
   padding-left: 50px;
    color: #a1a1a1;
    line-height: 26px;
    cursor: pointer;
}
/* end here  */
.giftbanner{
    background: url(../image/banner2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 200px;
    padding-bottom: 60px;
    
}
.gift_txt{
     margin-top: 60px;
    position: relative;
}
.gift_txt img{
    height: 70px;
    position: absolute;
    top: -35%;
    left: 8%;
   
}

.gift_txt h3{
    padding-left: 80px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 600;
    font-size: 22px;
    line-height: 24px;
    color:#666666;
}
.gift_txt .pink{
    color:#d50a51;
    padding-bottom: 40px;
    font-size: 24px;
}
.gift_text p{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: #66645f;
    line-height: 26px;
    cursor: pointer;
}
.gift_text button{
    margin-top:20px ;
    padding-top: 5px;
    padding-bottom: 4px;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: 20px;
    border: 1px solid #d50a51;
    background-color: #d50a51;
    color: #fefefe;
    border-radius: 30px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 60px;
    transition: 0.4s;
}
.gift_text button:hover{
    background-color: #fefefe;
    color: #d50a51;
}
/* end here  */
#ticket img{
    margin-top: 100px;
  
}
.ticket_txt {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 600;
    font-size: 22px;
    line-height: 26px;
    text-align: right;
    padding-top: 100px;
   
    position: relative;
}
.ticket_txt h3{
    padding-right: 80px;
    color: #666666;
}
.ticket_txt .pink{
    color:#d50a51;
    padding-bottom: 30px;
    font-size: 24px;
    padding-top:5px ;
}
.ticket_txt img{
    rotate: 90deg;
    position: absolute;
    top: -12%;
    right: 8%;
}
#ticket p{
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: 500;
    color: #66645f;
    line-height: 23px;
    text-align: right;
    padding-top: 10px;
    padding-right: 52px;
    cursor: pointer;
}

.ticket_btns button{
    
    margin-top:20px ;
    padding-top: 5px;
    padding-bottom: 4px;
    padding-left: 15px;
    padding-right: 16px;
    border: 1px solid #d50a51;
    background-color: #d50a51;
    color: #fefefe;
    border-radius: 30px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 60px;
    transition: 0.4s;
    margin-right: 10px;
}
.ticket_btns button:hover{
    background-color: #fefefe;
    color: #d50a51;
}
/* end here  */
#offer{
    margin-top: 95px;
    background-color: #fef7fa;
    margin-bottom: 100px;
}
.offersandservices{
    position:relative;
    margin-top: 65px;
   
}
.offersandservices img{
    position:absolute;
    top:-11%;
    left:-1%;
  
}
.offersandservices h3{
    padding-left: 50px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 600;
    font-size: 22px;
    line-height: 24px;
    color:#666666;
}
.offers_txt .pink{
    color:#d50a51;
    padding-bottom: 55px;
    font-size: 24px;
    padding-top:5px ;
}
.offersandservices p{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #66645f;
    padding-right: 27px;
    line-height: 26px;
    cursor: pointer;
}
.musiccard{
    margin-top: 65px;
    padding-top: 30px;
    transition: 0.4s;
    cursor: pointer;
    border: 1px solid transparent;

}
.musiccard:hover{
    border:1px solid #dad7d8;
    background-color: #f1f1f1;
    border-right: 2px solid #d50a51;
}
.musiccard img{
    padding-left: 30px;
}
.musiccard p{
    padding-left: 30px;
    padding-top: 20px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color:#858585;
    padding-right: 27px;
    padding-bottom: 15px;
}

.musiccard h3{
    display: inline-block;
   vertical-align: bottom;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: #d50a51;
    padding-left: 10px;
}
.dinner{
    margin-top: 25px;
    padding-top: 30px;
    transition: 0.4s;
    cursor: pointer;
    border: 1px solid transparent;
}
.dinner:hover{
    border:1px solid #dad7d8;
    background-color: #f1f1f1;
    border-right: 2px solid #d50a51;
}
.dinner img{
    padding-left: 30px;
}
.dinner p{
    padding-left: 30px;
    padding-top: 20px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color:#858585;
    padding-right: 27px;
    padding-bottom: 15px;
}

.dinner h3{
    display: inline-block;
   vertical-align: bottom;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: #d50a51;
    padding-left: 10px;
}
/* end here  */
#photoshoot{
    margin-bottom: 60px;
}
.photoshootpic{
    position: relative;
    margin-bottom: 30px;
}
.picoverlay{
    position: absolute;
    top:0%;
    left: 0%;
    background-color:rgba(0, 0, 0, 0.8);
    height: 100%;
    width: 100%;
    transition: 0.4s;
    opacity: 0;
    visibility: hidden;
}
.photoshootpic:hover .picoverlay{
    opacity: 1;
    visibility: visible;
} 

.overlayicon{
    position:absolute;
    top:0;
    right: 5%;
}
.round{
    height:40px;
    width:40px;
    border-radius: 100%;
    border:1px solid #fff;
    transition: 0.4s;
    margin-top: 20px;
}
.round i{
    padding-left: 30%;
    padding-top: 25%;
    color: #fff;
}
.round:hover{
    background-color: #c72f4f;
    border:1px solid #c72f4f;
}
.overlaytxt{
    position: absolute;
    bottom:3%;
    left: 0%;
}
.overlaytxt i{
    display: inline;
    color: #e8f3da;
    font-size: 14px;
    padding-left:15px;
    padding-right: 5px;
}
.overlaytxt i:hover{
    color:#c72f4f;
}
.overlaytxt h3{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    color: #dee8cf;
    padding-bottom: 8px;
    cursor:pointer;
}
.overlaytxt p{
    display: inline;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: #e8f3da;
    cursor:pointer;
}
.photoshoot_txt {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 600;
    font-size: 22px;
    line-height: 26px;
    text-align: right;
    padding-top: 100px;
    position: relative;
}
.photoshoot_txt h3{
    padding-right: 90px;
    color: #666666;
}
.photoshoot_txt .pink{
    color:#d50a51;
    padding-bottom: 30px;
    font-size: 24px;
    padding-top:5px ;
}
.photoshoot_txt img{
    rotate: 90deg;
    position: absolute;
    top: 14%;
    right: 14%;
}
.photoshoot_txt p{
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    font-weight: 500;
    color: #66645f;
    line-height: 23px;
    text-align: right;
    padding-top: 10px;
    padding-right: 52px;
    cursor: pointer;
}

.photoshoot_btns button{
    
    margin-top:10px ;
    padding-top: 5px;
    padding-bottom: 4px;
    padding-left: 15px;
    padding-right: 16px;
    border: 1px solid #d50a51;
    background-color: #d50a51;
    color: #fefefe;
    border-radius: 30px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 60px;
    transition: 0.4s;
    margin-right: 10px;
}
.photoshoot_btns button:hover{
    background-color: #fefefe;
    color: #d50a51;
}
/* end here  */
#countdown_part{
    margin-bottom:140px;
}
.countdown_banner{
    background:url(../image/countdown1.jpg);
    background-position: center;
    background-size:cover ;
    background-repeat: no-repeat;
    padding: 75px 0;
}
.item h3{
    padding-left: 128px !important;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 800;
    font-size: 50px;
    color: #d50a51;
   
}
.item h4{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    font-size: 30px;
    color: #444444;
    padding-left: 128px;
    padding-top: 15px;
}
/* end here  */
.slick_txt{
    border: 1px solid #fffae2;
    background-color: #fffae2;
    position: relative;
    
}
.slick_txt .icon{
    position: absolute;
    top:-15%;
    left:-7%;
    margin: 0 !important;
}
.slick_txt p{
    margin-top: 45px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    padding-left: 50px;
    margin-right: 35px;
    line-height: 26px;
}
.slick_txt img{
    margin-left: 30px;
    margin-top: 20px;
    margin-bottom: 25px;
    display: inline;
}
.slick_txt h3{
    display:inline-block;
    padding-left: 50px;
    vertical-align: middle;
    padding-right: 60px;
    padding-top: 55px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: #31302f;
    cursor: pointer;
   
}
.slick_txt h6{
    display:inline-block;
    padding-left: 50px;
    vertical-align: middle;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: #31302f;
    cursor: pointer;
}
.icon2{
    position: absolute;
    top:85%;
    right: -7%;
}
/* end here  */
#contactus{
    background-color: #fff1f8;
    margin-top: 110px;
    padding-top: 75px;
    padding-bottom: 30px;
    position: relative;
}
#contactus img{
    padding-bottom: 55px;
}
.rounded{
    float: left;
}
.rounded i{
    height: 40px;
    width: 40px;
    border: 1px solid #d50a51;
    border-radius: 100%;
    color: #fff;
    background-color: #d50a51;
    padding-top: 16%;
    padding-left: 20%;
   
    display: inline-block;
    margin-right: 20px;
}
.texts p{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #737071;
    margin-bottom: 0 !important;
    cursor: pointer;
    
}
.follow{
    padding-top: 60px;
}
.follow h3{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 800;
    font-size: 20px;
    color: #d50a51;
    margin-bottom: 20px;
}
.rounds i{
    height: 40px;
    width: 40px;
    border: 1px solid #d50a51;
    border-radius: 100%;
    color: #d50a51;
    background-color: #fff;
    padding-top: 41%;
    padding-left: 52%;
    display: inline-block;
    transition: 0.4s;
    margin-left: 15px;
    margin-right: 5px;
    
}
.rounds i:hover{
    background-color: #d50a51;
    color: #fff;
}
.news{
    position: absolute;
    top: -16%;
    left: 2%;
}
.form-control{
    background-color: #d50a51;
    border: none;
    
}
.email1{
    display: inline-block;
    position: absolute;
    top: 20%;
    left:39%;
    border-bottom: 1px solid #fff;
    border-top:1px solid #fff ;
}
.email2{
    display: inline-block;
    position: absolute;
    top: 20%;
    left:65%;
    border-bottom: 1px solid #fff;
    border-top:1px solid #fff ;
}
::placeholder{
    color: #fffafc !important;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 13px;
    display: inline-block;

  }
  .email2 img{
    display: inline-block;
    position: absolute;
    top: 19%;
    right: 5%;
  }
  
/* end here  */
#footer{
    background-color: #fce1ed;
}
#footer p{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 13px;
    margin-top: 15px;
    color: #897f84;
    margin-left: 30px;
    cursor: pointer;
}
#footer span{
    color: #d50a51;
}
/* end here  */